html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Lexend;
  background-color: white;
  user-select: none;
}

/*
** Theme Colors
*/
:root {
  --color-text-highlight: #AAAAAA;
  --color-orange: rgb(254,157,66);
  --color-orange-dark: rgb(224,127,25);
  --color-orange-light: #FEE8D6;
  --color-margin: rgb(240,240,240);
  --color-margin-shade: rgba(0,0,0,.25);
  --border-radius-button: 8px;
  --border-radius-holder: 12px;
  --border-radius-frame: 14px;
  --transition-time: 500ms;
  --background-curtains: repeating-linear-gradient(90deg,
      var(--color-orange),
      var(--color-orange-dark) 30px,
      var(--color-orange)      50px,
      var(--color-orange)      60px
    );
}

.RegButton {
  background-color: var(--color-orange) !important;
  border: 1px solid var(--color-orange-dark) !important;
  border-radius: var(--border-radius-button) !important;
  transition: all var(--transition-time);
}
.RegButton:hover {
  background-color: var(--color-orange-dark) !important;
  border: 1px solid var(--color-orange-dark) !important;
  border-radius: var(--border-radius-button) !important;
}

/*
** Page Layout
**
** Basic idea is to have a sidebar on the left, and then a main section
** that takes up the rest of the page. In order to have some semblance
** of 'responsive' we'll set the main sections to be centered with a
** minimum and maximum width so as to be flexible, but not irrationally
** so much that it messes up with our presentation.
*/

#divMain {
  width: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 350px;
}


#divTop,
#divDemo,
#divDemos,
#divBottom {
  min-width: 260px;
  max-width: 900px;
}

/* Same as logo on left */
#divTop {
  margin-top: 12px;
  min-height: 60px;
  flex-shrink: 0;
  border: 1px solid var(--color-orange-dark);
  border-radius: var(--border-radius-holder);
  background-color: var(--color-orange-light);
}

#divDemo {
  min-height: 350px;
  flex-shrink: 0;
  overflow: hidden;
}
#divDemoContainer {
   position: absolute !important;
   top: 0px !important;
   bottom: 12px !important;
   left: 0px !important;
   right: 0px !important;
   width: unset !important;
   height: unset !important;
}
#divDemoBorder {
  position: absolute;
  display: block;
  top: 0px !important;
  left: 0px  !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  border: 1px solid var(--color-orange-dark);
  border-radius: var(--border-radius-frame);
  z-index: 3;
  pointer-events: none;
  transition: all var(--transition-time);
}
#divCurtains {
  position: absolute;
  display: block;
  top: 0px !important;
  left: 0px  !important;
  width: 100%  !important;
  height: 100% !important;
  background: var(--background-curtains);
  border-radius: var(--border-radius-frame);
  transition: all var(--transition-time);
  overflow: hidden;
  z-index: 2;
}

#diviFrame {
  position: absolute;
  display: block;
  top: 0px !important;
  left: 0px  !important;
  width: 100%  !important;
  height: 100% !important;
  border-radius: var(--border-radius-frame);
  overflow: hidden;
  z-index: 1;
  transition: all var(--transition-time);
}
#diviFrame > iframe {
  position: absolute;
  display: block;
  top: 0px !important;
  left: 0px  !important;
  width: 100%  !important;
  height: 100% !important;
}

#divDemos {
  margin-top: -12px;
  background-color: var(--color-orange-light);
  border: 1px solid var(--color-orange-dark);
  border-radius: var(--border-radius-holder);
}

#divControls {
  margin-top: -16px;
  background-color: var(--color-orange-light);
  border-left: 1px solid var(--color-orange-dark);
  border-right: 1px solid var(--color-orange-dark);
  border-bottom: 1px solid var(--color-orange-dark);
  border-bottom-left-radius: var(--border-radius-button);
  border-bottom-right-radius: var(--border-radius-button);
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  overflow: hidden;
}
#divControlTop {
  padding: 5px 10px;
  border-bottom-left-radius: var(--border-radius-button);
}
#divControlPop {
  padding: 5px 10px;
  border-right: 1px solid var(--color-orange-dark);
  border-left: 1px solid var(--color-orange-dark);
}
#divControlTab {
  padding: 5px 10px;

  border-bottom-right-radius: var(--border-radius-button);
}
#divControls > div:hover {
  background-color: var(--color-orange-dark);
  outline: 4px solid var(--color-orange-dark) !important;
  outline-offset: -2px !important;
}
#divControls > div.selected {
  outline: 4px solid var(--color-orange-dark) !important;
  outline-offset: -2px !important;
}

#divBottom {
  margin-bottom: 2rem;
}


.popup {
  min-width:350px;
  min-height: 200px;
}
.popup > div {
  border-radius: var(--border-radius-holder);
  width: 100%;
  margin: 12px;
}
.popup > div > iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-orange-dark);
  position: relative;
}


/*
** Left Margin / Sidebar
*/
#divMargin {
  background-color: var(--color-margin);
  box-shadow: inset -13px 0 20px -13px var(--color-margin-shade);
  width: 0px !important;
  flex-shrink: 0;
  overflow: hidden;
}


/*
** Popup Menu
*/
.popmenu {
  position: absolute;
  top: 50px;
  left: -30px;
  width: 30px !important;
  height: 80px !important;
  display: flex;
  flex-direction: column;
  background: var(--color-orange-dark);
  justify-content: center;
  align-items: center;
  color: white;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.popmenuX {
  padding: 12px 12px 6px 12px;
  cursor: pointer;
}
.popmenuM {
  padding: 6px 12px 12px 12px;
  cursor: move;
}
.popmenuX:hover {
  color: black;
}
.popmenuM:hover {
  color: black;
}


/*
** Demo Buttons
*/
.btnDemo {
  width: 250px !important;
  height: 60px !important;
  border: 1px solid var(--color-orange-dark) !important;
  border-radius: var(--border-radius-button) !important;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all var(--transition-time);
}
.btnDemo:hover {
  background-color: var(--color-orange-dark);
  --color-text-highlight: white;
}
.btnDemo > i,
.btnDemo > svg,
.btnDemo > img {
  transition: all var(--transition-time);
  width: 50px;
  height: 50px;
  margin-left: 5px;
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px white)
          drop-shadow(1px -1px 1px white)
          drop-shadow(-1px 1px 1px white)
          drop-shadow(-1px -1px 1px white);
}

.btnDemo .caption {
  display: flex;
  flex-direction: column;
  gap: 0px;
  pointer-events: none;
}
.btnDemo .caption-top {
  font-size: 12px;
  color: black;
  white-space: nowrap;
}
.btnDemo .caption-bottom {
  font-size: 10px;
  color: var(--color-text-highlight);
  white-space: nowrap;
  transition: all var(--transition-time);
}
.btnDemo.selected {
  outline: 4px solid var(--color-orange-dark);
  outline-offset: 1px;
}

/*
** Bottom Buttons
**
** Adjust icon scale so that they sort of look the same size
** We should in theory just upload proper-sized icons, but for
** the moment this gets us to where we need to be.
*/
.BotBackground {
  background-color: var(--color-orange-light);
  border: 1px solid var(--color-orange-dark);
  border-radius: var(--border-radius-button);
  transition: all var(--transition-time);
}
.BotBackground:hover {
  background-color: var(--color-orange-dark);
  --color-text-highlight: white;
}
.BotCaptionTop {
  font-size: 16px;
  color: black;
  white-space: nowrap;
}
.BotCaptionBot {
  font-size: 14px;
  color: var(--color-text-highlight);
  white-space: nowrap;
  transition: all var(--transition-time);
}
.BotIconTop {
  font-size: 14px;
  color: var(--color-text-highlight);
  text-align: center;
  left: unset !important;
  right: 5px;
  transition: all var(--transition-time);
}
.BotIconBot {
  font-size: 14px;
  color: var(--color-text-highlight);
  text-align: center;
  left: unset !important;
  right: 5px;
  transition: all var(--transition-time);
}
img.Octopus {
  transition: all var(--transition-time);
  filter: drop-shadow(1px 1px 1px white)
          drop-shadow(1px -1px 1px white)
          drop-shadow(-1px 1px 1px white)
          drop-shadow(-1px -1px 1px white);}
img.Acuranzo {
  transition: all var(--transition-time);
  filter: drop-shadow(1px 1px 1px white)
          drop-shadow(1px -1px 1px white)
          drop-shadow(-1px 1px 1px white)
          drop-shadow(-1px -1px 1px white);
}
img.Swagger {
  transition: all var(--transition-time);
  filter: drop-shadow(1px 1px 1px white)
          drop-shadow(1px -1px 1px white)
          drop-shadow(-1px 1px 1px white)
          drop-shadow(-1px -1px 1px white);
}




/*
** Bootstrap
*/
.order-0  { order:  0; }
.order-1  { order:  1; }
.order-2  { order:  2; }
.order-3  { order:  3; }
.order-4  { order:  4; }
.order-5  { order:  5; }
.order-6  { order:  6; }
.order-7  { order:  7; }
.order-8  { order:  8; }
.order-9  { order:  9; }
.order-10 { order: 10; }
.order-11 { order: 11; }
.order-12 { order: 12; }
.order-13 { order: 13; }
.order-14 { order: 14; }
.order-15 { order: 15; }
.order-16 { order: 16; }
.order-17 { order: 17; }
.order-18 { order: 18; }
.order-19 { order: 19; }
.order-20 { order: 20; }
.order-99 { order: 99; }


