html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Cairo;
}

body {
  background-color: #CCCCCC;
}

.OrangeOctopus {
  background-color: orange;
}

/*
** Adjust icon scale so that they sort of look the same size
** We should in theory just upload proper-sized icons, but for
** the moment this gets us to where we need to be.
*/
img.Octopus {
  transform: translate(-3px,3px) scale(1.55);
}
img.Acuranzo {
  transform:  translate(-3px,0px) scale(1);
}
img.Swagger {
  transform: translate(-3px,1px) scale(1.1);
}
